<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pokemon?.name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-text-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeMd="6">
        <img [src]="pokemon?.sprites?.front_default" alt="Imagem do Pokémon" style="max-width: 200px; margin: 20px auto;" />
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ pokemon?.name | titlecase }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label><strong>ID:</strong></ion-label>
                <ion-text>{{ pokemon?.id }}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Altura:</strong></ion-label>
                <ion-text>{{ pokemon?.height / 10 }} m</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Peso:</strong></ion-label>
                <ion-text>{{ pokemon?.weight / 10 }} kg</ion-text>
              </ion-item>
              <ion-item *ngIf="pokemon?.types?.length">
                <ion-label><strong>Tipos:</strong></ion-label>
                <ion-text>
                  <span *ngFor="let type of pokemon?.types; let last = last">
                    {{ type.type.name | titlecase }}<span *ngIf="!last">, </span>
                  </span>
                </ion-text>
              </ion-item>
              <ion-item *ngIf="pokemon?.abilities?.length">
                <ion-label><strong>Habilidades:</strong></ion-label>
                <ion-text>
                  <span *ngFor="let ability of pokemon?.abilities; let last = last">
                    {{ ability.ability.name | titlecase }}<span *ngIf="!last">, </span>
                  </span>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Experiência base:</strong></ion-label>
                <ion-text>{{ pokemon?.base_experience }}</ion-text>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
